<ul>
<li title="Home page"><a href="/">Home</a></li>    
<li title="About us"><a href="about">About us</a></li>
<li title="Reservations"><a href="reservations">Make a reservation</a></li>
<li title="Do you need help?"><a href="help">Need help</a></li>

</ul>
 
 <style>
ul{
   list-style-type: none;
   border: 2px solid gold;
   background: gold;
   width: 100%;
   height: 40px;
   margin-left: -10px;
}

li a {
    color: #666;
    text-decoration: none;
}

li a:hover {
color: black;
}

li{
       float: left; 
       padding: 15px;
}


    </style>
