<!DOCTYPE html>
<html>
<head>
<title>Help page</title>
</head>
<body style='background: url("climbing.jpg") no-repeat center center;
  width: 100%;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  background-size: cover;'>

<h1>{{pageTitle}}</h1>

{{> header}}

{{> footer}}


</body>
</html>