<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
<link rel="stylesheet" href="/Styles/reservations.css">
</head>
<body>

    <h1> {{screamIt welcomeMessage}} </h1>

    {{> header}}

<h3> {{pageTitle}} </h3>

{{> footer}}


</body>
</html>