<!DOCTYPE html>
<html>
<head>
<title>Reservations</title>
<link rel="stylesheet" href="/Styles/reservations.css">
</head>
<body>


<h1>Make a reservation</h1>

{{> header}}
{{> footer}}


</body>
</html>